*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
img {
  max-width: 100%;
  display: block;
}
button,
input,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#app {
}

#view-container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 0 calc(10rem + env(safe-area-inset-bottom)) 0;
}
#view-container:has(#player-view) {
  padding-bottom: 0;
}
#view-container:has(#detailed-album-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}
#view-container:has(#detailed-artist-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}
#view:has(#detailed-playlist-view) {
  padding-bottom: calc(5rem + env(safe-area-inset-bottom));
}

@media (min-width: 1024px) {
  #player-bar,
  #navbar,
  #search-bar,
  .lyrics-space {
    left: 50% !important;
    right: auto !important;

    width: 100%;
    max-width: 65rem;

    transform: translateX(-50%);
  }

  .play-button,
  .shuffle-button {
    block-size: 6rem !important;
    inline-size: 6rem !important;
  }
}
